.circle div{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
  }
  
  .circle1{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
  }
  
  .circle2{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
  }
  
  .circle3{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
  }
  
  .circle4{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  
  .circle5{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 67%;
    
    left: 10%;
    animation: animate 6s linear infinite;
  }
  
  .circle6{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
  }
  
  .circle7{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
  }
  
  .circle8{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
  }
  
  .circle9{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
  }
  
  .circle10{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 360px;
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0%{
      transform: scale(0) translate(0) rotate(0);
      opacity: 1;
    }
    100%{
      transform: scale(1.3) translate(-90px) rotate(360deg);
      opacity: 0;
    }
  }
  